@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  background: #f0f3f9;
  padding: 60px;
}
.component {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 20px 25px -15px rgba(9, 13, 92, 0.29);
  color: #181339;
}
.component h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.component p {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 40px;
}
.component--1 {
  width: 373px;
}