@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,400;1,700&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    list-style: none;
}
body{
    background: #ffc295;
    padding:50px;
}
.component{
    background: #fff;
    padding:30px 40px;
    max-width: 500px;
    border-radius: 10px 0 ;
    margin-bottom: 30px;
}
.component time{
    font-size: 16px;
    color: #1A1B38;
    margin-bottom:45px;
    display:block;
}
.component h3{
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 10px;
}
.component  .tags{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px -5px;
}
.component .tags a{
    height:40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    padding:0 15px;
    border-radius: 5px;
    color: black;
    border: 1px solid rgb(34, 15, 15);
    transition:300ms background-color;
}
.component .tags a:hover{
    background-color:#F9EAE3;
}
.component .authors{
    padding-top: 20px;
    color: #1A1B38;
}
.component .authors li:not(:last-child){
    margin-bottom: 30px;
}
.component .authors li{
    display: flex;
    align-items:center;
    margin-bottom: 30px;
}
.component .authors li img{
    width:83px;
    height:83px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.component .authors li .name{
    font-size:18px;
    font-weight:bold;
    margin-bottom: 5px;
}
.component .authors li .location{
    font-size: 16px;
    background:url(icon-location.svg) no-repeat 0;
    padding-left:25px;
}
.btn{
    margin-left: auto;
    height:40px;
    display: flex;
    align-items: center;
    padding:0 15px;
    background:#F9EAE3;
    border: 1px solid #1A1B38;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color:#1A1B38
}

.component .project-action{
    display:flex;
    justify-content:space-around;
    border: 1px solid rgba(26, 27, 56, .14);
    height:89px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 25px;
}
.component .project-action li{
    display:flex;
    align-items: center;
}
.component .project-action li img{
    margin-right: 10px;
}
